<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Foobar | Webpack Boilerplate</title>
  <link href="<%- h('/assets/stylesheets/foobar.css') %>" rel="stylesheet">
</head>
<body>
  <h1 class="heading">Foobar | Webpack Boilerplate</h1>
  <picture>
    <source type="image/webp" srcset="<%- h('/assets/images/logo.webp') %>" />
    <img src="<%- h('/assets/images/logo.jpg') %>" />
  </picture>
  <a href="index.html">Index</a>
  <script src="<%- h('/assets/scripts/foobar.js') %>"></script>
</body>
</html>
