@keyframes rainbow {
  0% {
    color: red;
  }
  14.2% {
    color: orange;
  }
  28.5% {
    color: yellow;
  }
  42.8% {
    color: green;
  }
  57.1% {
    color: blue;
  }
  71.4% {
    color: indigo;
  }
  85.7% {
    color: violet;
  }
  100% {
    color: red;
  }
}
